
## **Agenda:**
1. About the Dataset

2. Objective

3. Importing Libraries

4. Importing Data

5. Exploratory Data Analysis

6. Data Preprocessing

7. Splitting Data into Train and Test Set

8. Train the model and Calculate Accuracy of Model:

9. Predicting on Given Test Dataset.

## **About the Dataset**
Startups play a major role in economic growth. They bring new ideas, spur innovation, create employment thereby moving the economy. There has been an exponential growth in startups over the past few years. Predicting the success of a startup allows investors to find companies that have the potential for rapid growth, thereby allowing them to be one step ahead of the competition.

The data contains industry trends, investment insights and individual company information. There are 48 columns/features. Some of the features are:

age_first_funding_year – quantitative

age_last_funding_year – quantitative

relationships – quantitative

funding_rounds – quantitative

funding_total_usd – quantitative

milestones – quantitative

age_first_milestone_year – quantitative

age_last_milestone_year – quantitative

state – categorical

industry_type – categorical

has_VC – categorical

has_angel – categorical

has_roundA – categorical

has_roundB – categorical

has_roundC – categorical

has_roundD – categorical

avg_participants – quantitative

is_top500 – categorical

status(acquired/closed) – categorical (the target variable, if a startup is ‘acquired’ by some other organization, means the startup succeed)

## **Objective**

The objective is to predict whether a startup which is currently operating turns into a success or a failure. The success of a company is defined as the event that gives the company's founders a large sum of money through the process of M&A (Merger and Acquisition) or an IPO (Initial Public Offering). A company would be considered as failed if it had to be shut down.

## **Importing Libraries**

In [ ]:
import pandas as pd
import numpy as np

## **Importing Data**

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
# Importing the dataset
train=pd.read_csv('/content/drive/My Drive/startup data/training_set_label.csv')
train.head()

In [ ]:
test=pd.read_csv('/content/drive/My Drive/startup data/testing_set_label.csv')

## **Exploratory Data Analysis**

In [ ]:
print(train.shape)
print(test.shape)

(923, 48)
(231, 47)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 48 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                923 non-null    int64
 1   state_code                923 non-null    object
 2   latitude                  923 non-null    float64
 3   longitude                 923 non-null    float64
 4   zip_code                  923 non-null    object
 5   id                        923 non-null    object
 6   city                      923 non-null    object
 7   Unnamed: 6                430 non-null    object
 8   name                      923 non-null    object
 9   founded_at                923 non-null    object
 10  closed_at                 335 non-null    object
 11  first_funding_at          923 non-null    object
 12  last_funding_at           923 non-null    object
 13  age_first_funding_year    923 non-null    float64
 14  age_last_funding_year     923 non-null    float64
 15  age_first_milestone_year  771 non-null    float64
 16  age_last_milestone_year   771 non-null    float64
 17  relationships             923 non-null    int64
 18  funding_rounds            923 non-null    int64
 19  funding_total_usd         923 non-null    int64
 20  milestones                923 non-null    int64
 21  state_code.1              922 non-null    object
 22  is_CA                     923 non-null    int64
 23  is_NY                     923 non-null    int64
 24  is_MA                     923 non-null    int64
 25  is_TX                     923 non-null    int64
 26  is_otherstate             923 non-null    int64
 27  category_code             923 non-null    object
 28  is_software               923 non-null    int64
 29  is_web                    923 non-null    int64
 30  is_mobile                 923 non-null    int64
 31  is_enterprise             923 non-null    int64
 32  is_advertising            923 non-null    int64
 33  is_gamesvideo             923 non-null    int64
 34  is_ecommerce              923 non-null    int64
 35  is_biotech                923 non-null    int64
 36  is_consulting             923 non-null    int64
 37  is_othercategory          923 non-null    int64
 38  object_id                 923 non-null    object
 39  has_VC                    923 non-null    int64
 40  has_angel                 923 non-null    int64
 41  has_roundA                923 non-null    int64
 42  has_roundB                923 non-null    int64
 43  has_roundC                923 non-null    int64
 44  has_roundD                923 non-null    int64
 45  avg_participants          923 non-null    float64
 46  is_top500                 923 non-null    int64
 47  status                    923 non-null    object
dtypes: float64(7), int64(27), object(14)
memory usage: 346.2+ KB

There are 12 columns which have object data type.

In [ ]:
train.describe()

        Unnamed: 0    latitude  ...  avg_participants   is_top500
count   923.000000  923.000000  ...        923.000000  923.000000
mean    572.297941   38.517442  ...          2.838586    0.809317
std     333.585431    3.741497  ...          1.874601    0.393052
min       1.000000   25.752358  ...          1.000000    0.000000
25%     283.500000   37.388869  ...          1.500000    1.000000
50%     577.000000   37.779281  ...          2.500000    1.000000
75%     866.500000   40.730646  ...          3.800000    1.000000
max    1153.000000   59.335232  ...         16.000000    1.000000

[8 rows x 34 columns]

In [ ]:
test.describe()

From this we can see that columns containing age has negative values also which is not possible.

In [ ]:
train.isnull().sum()

Unnamed: 0                    0
state_code                    0
latitude                      0
longitude                     0
zip_code                      0
id                            0
city                          0
Unnamed: 6                  493
name                          0
founded_at                    0
closed_at                   588
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    152
age_last_milestone_year     152
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
state_code.1                  1
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
object_id                     0
has_VC                        0
has_angel                     0
has_roundA                    0
has_roundB                    0
has_roundC                    0
has_roundD                    0
avg_participants              0
is_top500                     0
status                        0
dtype: int64

In [ ]:
test.isnull().sum()

Unnamed: 0                    0
state_code                    0
latitude                      0
longitude                     0
zip_code                      0
id                            0
city                          0
Unnamed: 6                  125
name                          0
founded_at                    0
closed_at                   147
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year     43
age_last_milestone_year      43
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
state_code.1                  0
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
object_id                     0
has_VC                        0
has_angel                     0
has_roundA                    0
has_roundB                    0
has_roundC                    0
has_roundD                    0
avg_participants              0
is_top500                     0
dtype: int64

There are missing values in total 4 columns of train and test dataset.

In [ ]:
train.duplicated().sum()

0

There is not any duplicated entry in train data.

## **Data Preprocessing**

In [ ]:
#first we will drop column unnamed: 6, as it is just a mix of city and zip_code also it contains many missing values.
train=train.drop(columns=['Unnamed: 6'])
test=test.drop(columns=['Unnamed: 6'])

In [ ]:
#We cannot drop closed_at column since that affects success, so we will introduce a new column which indicates whether startup is closed or open.

train["is_open"]=train["closed_at"].isnull()
train=train.drop(columns=["closed_at"])
train.head()

   Unnamed: 0 state_code   latitude  ...  is_top500    status is_open
0        1005         CA  42.358880  ...          0  acquired    True
1         204         CA  37.238916  ...          1  acquired    True
2        1001         CA  32.901049  ...          1  acquired    True
3         738         CA  37.320309  ...          1  acquired    True
4        1002         CA  37.779281  ...          1    closed   False

[5 rows x 47 columns]

In [ ]:
test["is_open"]=test["closed_at"].isnull()
test=test.drop(columns=["closed_at"])

In [ ]:
train["is_open"][train.is_open==False]=0
train["is_open"][train.is_open==True]=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
test["is_open"][test.is_open==False]=0
test["is_open"][test.is_open==True]=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# We will replace null values from age first milstone year and age last milestone year column by zero 
train["age_first_milestone_year"][train.age_first_milestone_year.isna()]=0
train["age_last_milestone_year"][train.age_last_milestone_year.isna()]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
test["age_first_milestone_year"][test.age_first_milestone_year.isna()]=0
test["age_last_milestone_year"][test.age_last_milestone_year.isna()]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
print(train["state_code"].value_counts())
print(train["state_code.1"].value_counts())

CA    488
NY    106
MA     83
WA     42
TX     42
CO     19
IL     18
PA     17
VA     13
GA     11
OR      7
NJ      7
NC      7
MD      7
FL      6
OH      6
MN      5
DC      4
CT      4
RI      3
TN      3
MI      3
UT      3
MO      2
ME      2
KY      2
NH      2
IN      2
AZ      2
NV      2
WV      1
NM      1
WI      1
ID      1
AR      1
Name: state_code, dtype: int64
CA    487
NY    106
MA     83
WA     42
TX     42
CO     19
IL     18
PA     17
VA     13
GA     11
OR      7
NJ      7
NC      7
MD      7
FL      6
OH      6
MN      5
DC      4
CT      4
RI      3
TN      3
MI      3
UT      3
MO      2
ME      2
KY      2
NH      2
IN      2
AZ      2
NV      2
WV      1
NM      1
WI      1
ID      1
AR      1
Name: state_code.1, dtype: int64

In [ ]:
print(train["id"].value_counts())
print(train["object_id"].value_counts())

c:28482    2
c:49960    1
c:1853     1
c:10864    1
c:15652    1
          ..
c:4        1
c:65601    1
c:11498    1
c:2808     1
c:512      1
Name: id, Length: 922, dtype: int64
c:28482    2
c:49960    1
c:1853     1
c:10864    1
c:15652    1
          ..
c:4        1
c:65601    1
c:11498    1
c:2808     1
c:512      1
Name: object_id, Length: 922, dtype: int64

In [ ]:
train['category_code'].value_counts()

software            153
web                 144
mobile               79
enterprise           73
advertising          62
games_video          52
semiconductor        35
network_hosting      34
biotech              34
hardware             27
ecommerce            25
public_relations     25
cleantech            23
analytics            19
security             19
social               14
search               12
messaging            11
other                11
travel                8
fashion               8
news                  8
medical               7
photo_video           7
finance               6
music                 6
education             4
health                3
consulting            3
real_estate           3
manufacturing         2
automotive            2
transportation        2
hospitality           1
sports                1
Name: category_code, dtype: int64

In [ ]:
#State_code.1 is just a copy of state_code, id and object id are same.Also Unnamed:0 and Category_code columns also not required so we will remove all these columns

train=train.drop(columns=['state_code','state_code.1','id','object_id','category_code','Unnamed: 0'])
test=test.drop(columns=['state_code','state_code.1','id','object_id','category_code','Unnamed: 0'])

In [ ]:
train["status"]=train.status.map({"acquired":1, "closed":0})

In [ ]:
train

      latitude   longitude zip_code  ... is_top500 status is_open
0    42.358880  -71.056820    92101  ...         0      1     1.0
1    37.238916 -121.973718    95032  ...         1      1     1.0
2    32.901049 -117.192656    92121  ...         1      1     1.0
3    37.320309 -122.050040    95014  ...         1      1     1.0
4    37.779281 -122.419236    94105  ...         1      0     0.0
..         ...         ...      ...  ...       ...    ...     ...
918  37.740594 -122.376471    94107  ...         1      1     1.0
919  42.504817  -71.195611     1803  ...         1      0     0.0
920  37.408261 -122.015920    94089  ...         1      0     0.0
921  37.556732 -122.288378    94404  ...         1      1     1.0
922  37.386778 -121.966277    95054  ...         1      1     1.0

[923 rows x 41 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   latitude                  923 non-null    float64
 1   longitude                 923 non-null    float64
 2   zip_code                  923 non-null    object
 3   city                      923 non-null    object
 4   name                      923 non-null    object
 5   founded_at                923 non-null    object
 6   first_funding_at          923 non-null    object
 7   last_funding_at           923 non-null    object
 8   age_first_funding_year    923 non-null    float64
 9   age_last_funding_year     923 non-null    float64
 10  age_first_milestone_year  923 non-null    float64
 11  age_last_milestone_year   923 non-null    float64
 12  relationships             923 non-null    int64
 13  funding_rounds            923 non-null    int64
 14  funding_total_usd         923 non-null    int64
 15  milestones                923 non-null    int64
 16  is_CA                     923 non-null    int64
 17  is_NY                     923 non-null    int64
 18  is_MA                     923 non-null    int64
 19  is_TX                     923 non-null    int64
 20  is_otherstate             923 non-null    int64
 21  is_software               923 non-null    int64
 22  is_web                    923 non-null    int64
 23  is_mobile                 923 non-null    int64
 24  is_enterprise             923 non-null    int64
 25  is_advertising            923 non-null    int64
 26  is_gamesvideo             923 non-null    int64
 27  is_ecommerce              923 non-null    int64
 28  is_biotech                923 non-null    int64
 29  is_consulting             923 non-null    int64
 30  is_othercategory          923 non-null    int64
 31  has_VC                    923 non-null    int64
 32  has_angel                 923 non-null    int64
 33  has_roundA                923 non-null    int64
 34  has_roundB                923 non-null    int64
 35  has_roundC                923 non-null    int64
 36  has_roundD                923 non-null    int64
 37  avg_participants          923 non-null    float64
 38  is_top500                 923 non-null    int64
 39  status                    923 non-null    int64
 40  is_open                   923 non-null    float64
dtypes: float64(8), int64(27), object(6)
memory usage: 295.8+ KB

In [ ]:
train['founded_at']=pd.to_datetime(train['founded_at'])
test['founded_at']=pd.to_datetime(test['founded_at'])

In [ ]:
train["founded_year"]=train["founded_at"].dt.year
train=train.drop(columns=["founded_at"])

In [ ]:
test["founded_year"]=test["founded_at"].dt.year
test=test.drop(columns=["founded_at"])

In [ ]:
train=train.select_dtypes(exclude='object')
test=test.select_dtypes(exclude='object')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   latitude                  923 non-null    float64
 1   longitude                 923 non-null    float64
 2   age_first_funding_year    923 non-null    float64
 3   age_last_funding_year     923 non-null    float64
 4   age_first_milestone_year  923 non-null    float64
 5   age_last_milestone_year   923 non-null    float64
 6   relationships             923 non-null    int64
 7   funding_rounds            923 non-null    int64
 8   funding_total_usd         923 non-null    int64
 9   milestones                923 non-null    int64
 10  is_CA                     923 non-null    int64
 11  is_NY                     923 non-null    int64
 12  is_MA                     923 non-null    int64
 13  is_TX                     923 non-null    int64
 14  is_otherstate             923 non-null    int64
 15  is_software               923 non-null    int64
 16  is_web                    923 non-null    int64
 17  is_mobile                 923 non-null    int64
 18  is_enterprise             923 non-null    int64
 19  is_advertising            923 non-null    int64
 20  is_gamesvideo             923 non-null    int64
 21  is_ecommerce              923 non-null    int64
 22  is_biotech                923 non-null    int64
 23  is_consulting             923 non-null    int64
 24  is_othercategory          923 non-null    int64
 25  has_VC                    923 non-null    int64
 26  has_angel                 923 non-null    int64
 27  has_roundA                923 non-null    int64
 28  has_roundB                923 non-null    int64
 29  has_roundC                923 non-null    int64
 30  has_roundD                923 non-null    int64
 31  avg_participants          923 non-null    float64
 32  is_top500                 923 non-null    int64
 33  status                    923 non-null    int64
 34  is_open                   923 non-null    float64
 35  founded_year              923 non-null    int64
dtypes: float64(8), int64(28)
memory usage: 259.7 KB

In [ ]:
print(train.isnull().any())
print(test.isnull().any())

latitude                    False
longitude                   False
age_first_funding_year      False
age_last_funding_year       False
age_first_milestone_year    False
age_last_milestone_year     False
relationships               False
funding_rounds              False
funding_total_usd           False
milestones                  False
is_CA                       False
is_NY                       False
is_MA                       False
is_TX                       False
is_otherstate               False
is_software                 False
is_web                      False
is_mobile                   False
is_enterprise               False
is_advertising              False
is_gamesvideo               False
is_ecommerce                False
is_biotech                  False
is_consulting               False
is_othercategory            False
has_VC                      False
has_angel                   False
has_roundA                  False
has_roundB                  False
has_roundC                  False
has_roundD                  False
avg_participants            False
is_top500                   False
status                      False
is_open                     False
founded_year                False
dtype: bool
latitude                    False
longitude                   False
founded_at                  False
age_first_funding_year      False
age_last_funding_year       False
age_first_milestone_year    False
age_last_milestone_year     False
relationships               False
funding_rounds              False
funding_total_usd           False
milestones                  False
is_CA                       False
is_NY                       False
is_MA                       False
is_TX                       False
is_otherstate               False
is_software                 False
is_web                      False
is_mobile                   False
is_enterprise               False
is_advertising              False
is_gamesvideo               False
is_ecommerce                False
is_biotech                  False
is_consulting               False
is_othercategory            False
has_VC                      False
has_angel                   False
has_roundA                  False
has_roundB                  False
has_roundC                  False
has_roundD                  False
avg_participants            False
is_top500                   False
is_open                     False
dtype: bool

In [ ]:
print(len(train[train['age_first_funding_year']<0]))

print(len(train[train['age_last_funding_year']<0]))

print(len(train[train['age_first_milestone_year']<0]))

print(len(train[train['age_last_milestone_year']<0]))

46
13
46
12

In [ ]:
train["age_first_funding_year"][train.age_first_funding_year<0]=0
train["age_last_funding_year"][train.age_last_funding_year<0]=0
train["age_first_milestone_year"][train.age_first_milestone_year<0]=0
train["age_last_milestone_year"][train.age_last_milestone_year<0]=0

In [ ]:
print(len(test[test['age_first_funding_year']<0]))

print(len(test[test['age_last_funding_year']<0]))

print(len(test[test['age_first_milestone_year']<0]))

print(len(test[test['age_last_milestone_year']<0]))

25
8
3
1

In [ ]:
test["age_first_funding_year"][test.age_first_funding_year<0]=0
test["age_last_funding_year"][test.age_last_funding_year<0]=0
test["age_first_milestone_year"][test.age_first_milestone_year<0]=0
test["age_last_milestone_year"][test.age_last_milestone_year<0]=0

In [ ]:
train

      latitude   longitude  ...  is_open  founded_year
0    42.358880  -71.056820  ...      1.0          2007
1    37.238916 -121.973718  ...      1.0          2000
2    32.901049 -117.192656  ...      1.0          2009
3    37.320309 -122.050040  ...      1.0          2002
4    37.779281 -122.419236  ...      0.0          2010
..         ...         ...  ...      ...           ...
918  37.740594 -122.376471  ...      1.0          2009
919  42.504817  -71.195611  ...      0.0          1998
920  37.408261 -122.015920  ...      0.0          1999
921  37.556732 -122.288378  ...      1.0          2009
922  37.386778 -121.966277  ...      1.0          2003

[923 rows x 36 columns]

In [ ]:
# training starts
X=train.drop("status", axis=1)
y=train["status"]

## **Splitting Data into Train and Test**

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=56,stratify=y)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((646, 35), (646,), (277, 35), (277,))

## **Fitting the Model and Checking Accuracy**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
dt=DecisionTreeClassifier(max_depth=7)
dt.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=7, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_pred=dt.predict(X_test)
print(accuracy_score(y_test,y_pred))
confusion_matrix(y_test,y_pred)

0.9675090252707581

array([[ 93,   5],
       [  4, 175]])

In [ ]:
KNN=KNeighborsClassifier(3)
KNN.fit(X_train,y_train)
y_pred=KNN.predict(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred))
confusion_matrix(y_test,y_pred)

0.6028880866425993

array([[ 37,  61],
       [ 49, 130]])

In [ ]:
Ada=AdaBoostClassifier()
Ada.fit(X_train,y_train)
y_pred=Ada.predict(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred))
confusion_matrix(y_test,y_pred)

0.9819494584837545

array([[ 98,   0],
       [  5, 174]])

## **Predicting on Test Dataset**

In [ ]:
test

      latitude   longitude  ...  is_open  founded_year
0    41.321520  -72.929423  ...      0.0          2007
1    37.452084 -122.112879  ...      0.0          2000
2    40.296222  -74.050972  ...      0.0          2004
3    37.789268 -122.395184  ...      0.0          2005
4    33.133240 -117.275027  ...      0.0          1997
..         ...         ...  ...      ...           ...
226  45.520247 -122.674195  ...      1.0          2010
227  37.440682 -122.123103  ...      0.0          2007
228  37.496904 -122.333057  ...      1.0          2000
229  40.728425  -73.999882  ...      1.0          2009
230  40.756799  -73.976348  ...      1.0          2006

[231 rows x 35 columns]

In [ ]:
predictions=Ada.predict(test)

In [ ]:
res = ['acquired' if predictions==1 else 'closed' for predictions in predictions]
res = pd.DataFrame(res)
res.index = test.index 
res.columns = ["prediction"]

from google.colab import files
res.to_csv("submission_1.csv")
files.download("submission_1.csv")